@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #344055;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    display: inline-block;
    text-decoration: none;
    color: #777;
    transition: color 500ms ease-in-out;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
    transition: color 500ms ease-in-out;
}

.links a::after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--primary-color);  
    transform: scaleX(0);  
    transition: transform 500ms ease-in-out;
}
  
.links a:hover::after {
    transform: scaleX(1);
}